.footer {
    background-color: #001219;
    display: flex;
    flex-direction: column;
    height: 10vh;
}

.footer ul {
    flex: 1;
    list-style: none;
}


.footer ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 21px;
    cursor: pointer;
}

