.navbar-bg {
    background-color: #001219;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #006073ae;
    padding: 15px 7%;
}


.navbar ul {
    flex: 1;
    list-style: none;
    text-align: center;
}


.navbar ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 21px;
    cursor: pointer;
}


